<div>
  <h1>GET /</h1>

  <%= form_for @game_changeset, games_path(@conn, :create), fn f -> %>
    <label>
      <%= checkbox f, :private %> Private game? (friends only)
    </label>

    <%= submit "Create a game" %>
  <% end %>
</div>
